* {
  box-sizing: border-box ;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0.5rem;
}

section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h2 {
  font-size: 2rem;
  border-bottom: 4px solid white;
  color: black;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: black;
  padding: 0.5rem;
  color: white;
  border-radius: 20px;
}

.pic img {
  max-width: 90%;
  height:auto;
  }  

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

input {
  font: inherit;
  border: 1px solid black;
  text-align: center;
  background-color: rgb(127, 127, 165);
}

input:focus {
  outline: none;
  border-color: blue;
  background-color: white;
}

button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

button:hover,
button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
