* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background-color: aqua;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color:black;
  color: white;
  text-align: center;
}

#styling {
  box-shadow: 0 2px 8px rgb(82, 76, 76);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: black;
}

#styling h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #1b995e;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: burlywood;
  padding: 0.5rem;
  color: #1f1f1f;
  border-radius: 25px;
}

#styling input {
  font: inherit;
  border: 1px solid #ccc;
}

#styling input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

#styling button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #c4b2ba;
  background-color: #803f03;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#styling button:hover,
#styling button:active {
  background-color: #ad8005;
  border-color: #c4b2ba;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.user1 {
  background-color: rgb(6, 100, 18);
  color: white;
}

.user2 {
  background-color: rgb(0, 51, 128);
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
